

/*PAGE Produit*/
#formprestation{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}



/*PAGE Admin*/
.bouton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formadminprestation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.titre{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}
h1{
  text-align: center;
}




/*PAGE BOUTIQUE PAIEMENT*/

#paiement{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}
#contpaiement{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}



/*PAGE BOUTIQUE PRESTATION*/
#boutiquepresta{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-reserv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
.form{
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#cadre-reserv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  width: 60%;
}
.imagebout{
  width: 100px;
  height: 100px;
}
/*PAGE PLANNING*/
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*PAGE INDEX*/
#contenue{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}