/*PAGE PLANNING*/
#planning{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pop1{
  margin-top: 50px;
  margin-bottom: 50px;
}

.ligne{
  border:solid;
  width: 330px;
  height: 65px;
}
.ligne2{
  border:solid;
  width: 65px;
  height: 65px;
}

#calendrier{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 35px;
  font-family: serif;
  margin-bottom: 50px;
  margin-top: 50px;
}

#message{
  font-family: serif;
  text-align: center;
  font-size: 30px;
  
}
#agenda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin-bottom: 50px;
  margin-top: 50px;


}
.lien{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: white;
  border:double;
}

/*PAGE Produit*/
#pageproduit{
   display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;

}
#formprestation{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
      height: -webkit-fill-available;
}
/*PAGE PANIER*/
  #pagepanier{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
}

/*PAGE ADMIN*/
.bouton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formadminprestation{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.titre{
  text-align: center;
  font-family: serif;
  font-size: 30px;
}
h1{
  text-align: center;
}
.heure{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: serif;
}



/*PAGE BOUTIQUE PAIEMENT*/
#btnprest{
  margin-top: 50px;
  margin-bottom: 50px;

}

#paiement{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 800px;
  width: 100%;

}
#contpaiement{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}



/*PAGE BOUTIQUE PRESTATION*/
#boutiquepresta{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-reserv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

#cadre-reserv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  width: 60%;
}
.imagebout{
  width: 100px;
  height: 100px;
}

/*PAGE INDEX*/
#contenue{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*PAGE RESEVATION-FORM2*/
#modifreserva{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  

}

/*PAGE NAV BAR*/

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
  color:#000;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#titreh1 {
  color: #262626;
}

.formRes label {
  color: #262626;
}

.modal-header * {
  color: #262626;
}