#stock{

}

.theb{
	    border: solid 2px black;
    display: flex;
    /* align-content: space-around; */
    justify-content: space-around;
    align-items: center;
    background-color: #bae2ba;
}

.imagebout{
	width: 125px;
	height: 125px;
}



.insufisant
{
	background-color: #ffb5b5;
	border: solid 2px black;
    display: flex;
    /* align-content: space-around; */
    justify-content: space-around;
    align-items: center;
}


#stockcont
{
	overflow: scroll;
	height: 100%;
	width: 100%;
}


/*page admin*/
/*fom prestation*/
.btnPopupprestation
{
	background-color: red;
	padding: 1em 2em;
	color:black;
	cursor: pointer;

}

.btnPopupprestation:hover
{
	background-color: white;
}

.overlayprestation
{
	position:fixed;
	left: 0px;
	top: 0px;
	background-color: grey;
	width: 100%;
	height: 100%;
	display:none;
}

.popupprestation
 {

 	margin:20% auto;
 	width: 70%;
 	background-color: white;
 	border-radius: 5px;
 	box-shadow: 15px 20px 0 black;
 	padding: 1em;
 		 	display:flex;
 	align-items: center;
 	justify-content: center;
 }

 .btnCloserpresentation
 {
 	float: right;
 	cursor: pointer;

 }
 /*form prestation fin */
 /*debut form reservation*/

 .btnPopupreservation
{
	background-color: red;
	padding: 1em 2em;
	color:black;
	cursor: pointer;

}

.btnPopupreservation:hover
{
	background-color: white;
}

.overlayreservation
{
	position:fixed;
	left: 0px;
	top: 0px;
	background-color: grey;
	width: 100%;
	height: 100%;
	display:none;
}

.popupreservation
 {

 	margin:20% auto;
 	width: 70%;
 	background-color: white;
 	border-radius: 5px;
 	box-shadow: 15px 20px 0 black;
 	padding: 1em;
 		 	display:flex;
 	align-items: center;
 	justify-content: center;
 }

 .btnClosereservation
 {
 	float: right;
 	cursor: pointer;

 }

 /*fin form reservation*/